.main {
    background-color: red;
    width: 100% !important;
}

.gallery {
    background-color: blue;
    width: 100% !important;
}

.contact {
    background-color: green;
    width: 100% !important;
}

.contactStyle{
    content: '';
    position: relative;    
    left: 25%;
    width: 18%;
    border-bottom: 6px solid #FFFFFF;    
}

.contactParagraph{
    background-color: white;
    color: black;
}

.impressum {
    background-color: orange;
    width: 100% !important;
}

.news{
    background-color: lightgray;
    width: 100% !important;
    height: auto;
}

.contact{
    background-color: darkcyan;

}

h2{
    font-size: 1.3em !important;
    color: #FFFFFF !important;
}

.page{
    margin-top: 0em !important;
}

.fab{
    font-size: 2em;
}

.noSpace{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}