$template: light;


@if $template==light {
    $dark: #272343;
    $light: #bae8e8;
    $lighter: #e3f6f5;

    .news {
        background-color: $dark;
        color: black;
    }

    .news {
        background-color: $light;
        color: black !important;
    }

    .contact {
        background-color: $light;
        color: black !important;
    }

    .contact .contactParagraph {
        background-color: $lighter;
    }
}


body {
    background-color: inherit;
}

h1{
    font-size: 1em;
}
.carousel-control-prev-icon {
    background-image: url("../gfx/left.png");
    height: 50px;
    width: 50px;
}

.carousel-control-next-icon {
    background-image: url("../gfx/right.png");
    height: 50px;
    width: 50px;
}

.carousel-indicators li {
    background-color: white !important;
}

.main {
    background-color: inherit;
    width: 100% !important;
}

.main h2 {
    color: black !important;
}

.contact {
    z-index: 100;
}

.gallery {
    background-color: inherit;
    color: black;
    width: 100% !important;
}

.gallery h2 {
    color: black !important;
}

.galleryFold {
    background-color: #bae8e8;
    color: black;
    width: 100% !important;
}


.galleryFold .galleryFolded {
    background-color: white !important;
    overflow-y: scroll;
    height: 300px;
    display: none;
}


.galleryFolded ul li {
    width: 33%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.galleryFolded ul li img {
    height: 100%;
    width: 100%;
}

.newsFolded {
    display: none;
}

#newsChevron .fa-chevron-up {
    display: none;
}

.contactFolded {
    display: none;
}

.contactB {
    background-color: inherit;
    color: black;
    width: 100% !important;
}

.contactB h2 {
    color: black !important;
}

.contactStyle {
    content: '';
    position: relative;
    border-top: 2px solid lightgray;
}

.contactParagraph {
    background-color: white;
    color: black;
}

.impressum {
    background-color: inherit;
    color: black;
    width: 100% !important;
}

.impressum h2 {
    color: black !important;
}

.news {
    width: 100% !important;
    height: auto;
    z-index: 50;
}

.news h2 {
    content: '';
    position: relative;
    left: 0;
    width: 25%;
    border-bottom: 3px solid black;
}

.contact {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    font-size: 1.3em !important;
    color: #FFFFFF !important;
}

.page {
    margin-top: 0;
}

.fab {
    font-size: 2em;
}

.noSpace {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.galOverlay {
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgOverlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0.3%, rgba(255, 255, 255, 0.5) 50%) !important;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
}

.imgOverlay h2 {
    color: black !important;
}

.imgOverlay p {
    color: black !important;
}


hr {
    z-index: 200 !important;
    top: 3% !important;
    padding-top: 0 !important;
    border: 0 !important;
    width: 100% !important;
    border-top: 8px solid black !important;
    position: relative !important;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page {
        padding-top: 8em !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page {
        padding-top: 0 !important
    }
}

@media only screen and (min-width: 992px) {
    .page {
        padding-top: 0 !important;
    }
}


//Keyframe Animations
//Called by JQuery
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    bottom: 0%;
    top: 0;
    opacity: 0;
}

.overlayContent{
    

}

.overlayAnim {
    animation: overlayAnim 1s;
}

@-webkit-keyframes overlayAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}